*{
    padding: 0px;
    margin: 0px;
}
.image{
    width: 70vw;
    height: 80vh;
    margin-left: 15vw;
    margin-bottom: 200px;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items:center;
    top :170px;
    position: absolute;     
    /* border: 1px solid red; */
    overflow-y:scroll;
    overflow-x: scroll;

}
.image::-webkit-scrollbar{
    display: none;
}

#row1{
    overflow-y: scroll;
    overflow-x: scroll;
    display: inline;
    width: 80%;
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;

}
#row1::-webkit-scrollbar{
    display: none;
}
.img{
    width: 50%;
    height: auto;
    background-size: contain;
    image-resolution: 480px;
    transition: 0.2s;
    margin-left: 10%;
    padding-bottom: 10px;
    opacity: 1;
}
.img:hover{
    transform: scale(1.2);
}
#refresh{
    width: 25%;
    background-color: orange;
    color: white;
    position: absolute;
    bottom: 0px;
    right: 100px;
    font-weight: 400;
    border-radius: 0.5rem;
    padding: 10px;
    border: 1px solid black;
}

.unplashbox{
    border: 1px solid black;
    height: 50vh;
    background-color: rgba(137, 127, 127, 0.689);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
#h2unplash{
    background-color: rgba(41, 39, 39, 0.687);
    color: white;
    width: 100%;
    height: 20%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.5rem;
    font-weight: 600;

}

#puunplash{
    border: 1px transparent black;
    width: 80%;
    padding: 5px;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    bottom: 20%;
    color: honeydew;
    animation: border;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-delay: 2ms;
}
@keyframes border {
    0%{
        border: 2px solid black;
    }
    25%{
    border: 2px solid red;

    }
    50%{
    border: 2px solid green;

    }
    75%{
    border: 2px solid pink;

    }
    100%{
    border: 2px solid yellow;

    }
}
#input{
    height: 30px;
    padding: 10px;
    position: relative;
    bottom: 130px;
    border-radius: 0.5rem;
}

@media (max-width:600px) {
    *{
        padding: 0px;
        margin: 0px;
    }
    .image{
        width: 100vw;
        height: 60vh;
        
        display: flex;
        justify-content: center;
        align-items:center;
        top :170px;
        position: absolute;     
        /* border: 1px solid red; */
        overflow-y:scroll;

    }
    .image::-webkit-scrollbar{
        display: none;
    }
 
    #row1{
        overflow-y: scroll;
        display: inline;
        width: 100%;
        height: 100%;
        
    
    }
    .img{
        width: 80%;
        height: auto;
        image-resolution: 480px;
        transition: 0.2s;
        margin-left: 10%;
        padding-bottom: 10px;
    }
    .img:hover{
        transform: scale(1.2);
        border-radius: 0.5rem;
        box-shadow: 4px 4px 3px black;
        background-color: black;
    }
    #refresh{
        width: 25%;
        background-color: orange;
        color: white;
        position: absolute;
        bottom: 7%;
        font-weight: 400;
        border-radius: 0.5rem;
        padding: 10px;

    }

    .unplashbox{
        border: 1px solid black;
        height: 50vh;
        background-color: rgba(137, 127, 127, 0.689);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }
    #h2unplash{
        background-color: rgba(41, 39, 39, 0.687);
        color: white;
        width: 100%;
        height: 20%;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 1.5rem;
        font-weight: 600;

    }

    #puunplash{
        border: 1px transparent black;
        width: 80%;
        padding: 5px;
        margin-left: 10%;
        margin-right: 10%;
        position: relative;
        bottom: 20%;
        color: honeydew;
        animation: border;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-delay: 2ms;
    }
    @keyframes border {
        0%{
            border: 2px solid black;
        }
        25%{
        border: 2px solid red;

        }
        50%{
        border: 2px solid green;

        }
        75%{
        border: 2px solid pink;

        }
        100%{
        border: 2px solid yellow;

        }
    }
    #input{
        height: 30px;
        padding: 10px;
        position: relative;
        bottom: 130px;
        border-radius: 0.5rem;
    }
}