
*{
    margin: 0px;
    padding: 0px;
}


    
    #logo{
        border: 2px solid white;
        position: absolute;
        background-color:  white;
        width: 40px;
        height: 40px;
        left: 0px;
        border-radius: 0.3rem;
        padding: 5px;
        margin-bottom: 4px;
        margin-left: 10px;
        animation: logoanimation;
        animation-duration: 1s;
        animation-delay: 0.3s;
        animation-iteration-count: infinite;
    
    }
    
    .nav_li{
        /* border: 1px solid black; */
        font-size: large;
        
    }
   
    
    #nav_btn{
        font-size: large;
    }
    
    
    
    .h2tag{
        position: absolute;
        left: 180px;
        background-color: white;
        width: auto;
        height: 40px;
        padding: 10px;
        font-size: larger;
        font-weight: 700;
        border-radius: 0.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
     
    
  
    
    #cross{
        display: none;
    }

    .forphone{
        display: none;
    }
    @media screen and (max-width:680px) {
        #header{
            width: 100vw;
            color: white;
            height: 60px;
            background-color: black;
            /* display: absolute; */
            position: fixed;
            z-index: 1;
            justify-content: space-around;
            object-fit: contain;
        }
        .nav_item{
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            scale:(1);
            z-index: 200;
            background-color:black;
            color: white;
            right: 0px;
            top: 0px;
            width:0px;
             
            /* border: 1px solid green; */
             height: 100%;
            transition: 80ms;
            transition-timing-function: ease-in;
    
            /* position: fixed; */
             
            
        }
       
    
        #cross{
            display: block;
            height: auto;
            padding: 10px;
            scale: (0);
            width: 60px;
            border: 2px solid white;
            border-radius: 0.5rem;
           margin-top: 100px;
           background-color: black;
           color: white;
        }
        .h2tag{
            position: absolute;
            left: 60px;
            background-color: white;
            width: auto;
            color: black;
            height: 40px;
            padding: 10px;
            font-size: larger;
            font-weight: 700;
            border-radius: 0.2rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .forphone{
            display: block;
        }
        .nav{
            display: flex;
            /* justify-content: center; */
            align-items: center;
        }
        .nav_li{
            margin-bottom: 4px;
            margin-right: 2px;
            display: flex;
            align-items: center;
            padding: 4px;
            background-color: black;
            width:90px;
           
            font-size: 0.8rem;
            justify-content: center;
            border-radius: 1.3rem;
            scale: (0);
             
            color: white;
            border: 2px solid white;
        }
        .nav_li:hover{
            background-color: white;
            color: white;
            
            background-image: linear-gradient(
                280deg,
                transparent,
                rgba(37,37,37,0.5)
            );
        }
        
    
        
    
        #logo{
            border: 2px solid white;
            /* position: fixed; */
            width: 40px;
            height: 40px;
            left: 0px;
            border-radius: 0.3rem;
            padding: 5px;
            
            margin-bottom: 4px;
            margin-left: 10px;
            animation: logoanimation;
            animation-duration: 1s;
            animation-delay: 0.3s;
            animation-iteration-count: infinite;
    
        }
     
        
    
     
    
}
