*{
    margin: 0px;
    padding: 0px;
}

#logo{
    border: 2px solid white;
    /* position: fixed; */
    width: 40px;
    height: 40px;
    left: 0px;
    border-radius: 0.3rem;
    padding: 5px;
    margin-bottom: 4px;
    margin-left: 10px;
    animation: logoanimation;
    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-iteration-count: infinite;

}

@keyframes logoanimation{
    0%{
        background-image: linear-gradient(
            180deg,
            transparent,
            rgba(37,37,37,0.5)
            white
        );
        display: absolute;
    }
    50%{
        background-image: linear-gradient(
            180deg,
            transparent,
            rgba(37,37,37,0.7)
            white
        );
        display: absolute;
    }
    100%{
        background-image: linear-gradient(
            180deg,
            transparent,
            rgba(37,37,37,0.5)
            white
        );
        display: absolute;
    }
}
@media only screen and (max-width:600px) {
    #header{
        width: 100vw;
        color: white;
        height: 60px;
        background-color: black;
        /* display: absolute; */
        position: fixed;
        z-index: 1;
        justify-content: space-around;
        object-fit: contain;
    }
    .nav_item{
        height: 40px;
       /* display: none; */
       width: auto;
        /* position: fixed; */
        right: 0px;
        
        top: 0px;
        
    }
    .nav_li{
        margin-bottom: 4px;
        margin-left: 8px;
        display: flex;
        align-items: center;
        padding: 4px;
        
        width: 60px;
        font-size: 0.8rem;
        justify-content: center;
        border-radius: 1.3rem;
        border: 2px solid white;
    }
    .nav_li:hover{
        background-color: white;
        color: white;
        
        background-image: linear-gradient(
            280deg,
            transparent,
            rgba(37,37,37,0.5)
        );
    }

    

    #logo{
        border: 2px solid white;
        /* position: fixed; */
        width: 40px;
        height: 40px;
        left: 0px;
        border-radius: 0.3rem;
        padding: 5px;
        margin-bottom: 4px;
        margin-left: 10px;
        animation: logoanimation;
        animation-duration: 1s;
        animation-delay: 0.3s;
        animation-iteration-count: infinite;

    }

    @keyframes logoanimation{
        0%{
            background-image: linear-gradient(
                180deg,
                transparent,
                rgba(37,37,37,0.5)
                white
            );
            display: absolute;
        }
        50%{
            background-image: linear-gradient(
                180deg,
                transparent,
                rgba(37,37,37,0.7)
                white
            );
            display: absolute;
        }
        100%{
            background-image: linear-gradient(
                180deg,
                transparent,
                rgba(37,37,37,0.5)
                white
            );
            display: absolute;
        }
    }

}