*{
    padding: 0px;
    margin: 0px;
}

#loader{
    display: none;
}
 
@media (max-width:600px) {
    #loader{
        height: 100vh;
        z-index: 1; 
        width: 100vw;
        opacity: 1;
        background-color:black;
        position: fixed;
        display: none;
        padding-top:65%;
        overflow: hidden;
    }
     

    #load{
        margin-left: auto;
        margin-right: auto; 
    }
    .formdiv{
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 40px;
    }
}