#submitpop{
    width: auto;
    height: auto;
    border-radius:0.5rem ;
    position: absolute;
    margin-top: 30px;
    display: none;
    background: green;
}

#popupmsg{
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: large;
}

@media (max-width:600px) {
    .form{
        height: auto;
        display: flex;
        width: auto;
        padding-left: 20px;
        padding-right: 20px;
        align-items:center;
        object-fit: contain;
        justify-content: space-between;
   
    }
    .slug{
        border: 1px solid green;
    }
    .rte{
        height: 20rem;
    }
}


