#submitpop{
    width: auto;
    height: auto;
    border-radius:0.5rem ;
    position: absolute;
    margin-top: 30px;
    display: none;
    background: green;
}

#popupmsg{
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: large;
}


